/* Mobile */

@media(max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }
  .flex-items > div {
    max-width: 100%;
  }
  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    min-width: 100%;
  }

  .team img {
    width: 70%;
  }

  .hero .content h1{ 
    font-size: 2rem;
  }
}