/* Text colors */
.text-primary {
  color: #fdefbc; }

.text-secondary {
  color: #0284d0; }

.text-tertiary {
  color: #ffff; }

.text-center {
  text-align: center; }

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #47688d;
  border: none;
  border-radius: 5px; }

.btn:hover {
  opacity: 0.9; }

.btn-primary, .bg-primary {
  background: #364f6b;
  color: #fff; }

.btn-secondary, .bg-secondary {
  background: #fdefbc;
  color: #fff; }

.btn-dark, .bg-dark {
  background: #333;
  color: #fff; }

.btn-light, .bg-light {
  background: #f4f4f4;
  color: #333; }

.btn-outline {
  background: transparent;
  border: 1px solid #fff; }

/* Flex items */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%; }

.flex-items > div {
  padding: 30px;
  max-width: 30%; }

/* Flex columns */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse; }

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }

.flex-columns .column .column-1, .flex-columns .column .column-2 {
  height: 100%; }

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px; }

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100; }

.flex-columns h4 {
  margin-bottom: 10px; }

.flex-columns p {
  margin: 20px 0; }

/* Section header */
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.section-header h2 {
  font-size: 40px;
  margin: 20px 0; }

.section-padding {
  padding: 20px 20px 40px; }

/* Flex grid */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px; }

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px; }

.py-1 {
  padding: 1.5rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.p-1 {
  padding: 1.5rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.text-center {
  text-align: center; }

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1; }

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #ffff; }

ul {
  list-style: none; }

h1,
h2 {
  font-weight: 300;
  line-height: 1.2; }

p {
  margin: 10px 0;
  font-size: 1.25rem; }

img {
  width: 100%; }

body {
  background: #47688d;
  color: #ffff;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6; }

header {
  color: #364f6b; }

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #364f6b;
  color: white;
  opacity: 0.9;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s; }

.navbar.top {
  background: transparent; }

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 1.75rem; }

.navbar a:hover {
  border-bottom: #fdefbc 2px solid; }

.navbar ul {
  display: flex; }

.navbar .logo {
  font-weight: 400; }

/* Header */
.hero {
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff; }

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px; }

.hero .content h1 {
  padding-top: 100px;
  font-size: 65px; }

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px; }

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

.hero * {
  z-index: 10; }

.icons {
  padding: 30px; }

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px; }

.icons i {
  background-color: #fce38a;
  color: #fce38a;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px; }

#about {
  padding: 5rem; }

.callback-form {
  width: 100%;
  padding: 20px 0; }

.callback-form label {
  display: block;
  margin-bottom: 5px; }

.callback-form .form-control {
  margin-bottom: 15px; }

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid; }

.callback-form input:focus {
  outline-color: #fdefbc; }

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px; }

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px; }

.footer a {
  color: #fff; }

.footer a:hover {
  color: #fbd758; }

.footer .social > * {
  margin-right: 30px; }

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px; }
  .navbar a {
    padding: 10px 10px;
    margin: 0 3px; }
  .flex-items {
    flex-direction: column; }
  .flex-items > div {
    max-width: 100%; }
  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    min-width: 100%; }
  .team img {
    width: 70%; }
  .hero .content h1 {
    font-size: 2rem; } }
