---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>kylenicholson.dev</title>
  </head>

  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About Me</h1>

    <p>
      I'm a python developer based in the Corvallis, Oregon. I'm currently
      working on completing a Computer Science Degree at Oregon State
      University. I'm also working on a few projects in my free time.
    </p>
  </body>
</html>
