---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from './ThemeIcon.astro';
---

<header>
    <nav>
        <div class="container">
            <Hamburger/>
            <ThemeIcon/>
        </div>
        <Navigation/>
    </nav>
</header>

<style>

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
</style>